
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html {
      height: 100%;
      /* makes footer at the bottom */
      box-sizing: border-box;
    }
/* makes footer at the bottom */
    *,
    *:before,
    *:after {
      box-sizing: inherit;
      }

   body {
     margin: 0;
     padding: 0;
     background: #000030;
     color: #cdcdcd;
     font-family: "Avenir Next", "Avenir", sans-serif;
     font-size: 16px;
     /* makes footer at the bottom */
     min-height: 100%;
     position: relative;
   }

   a {
     color: #000;
   }

   h3 {
     font-weight: normal;
     font-size: 1.3em;
   }

/* Header =========================== */

/* Humburger - menu = div header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: absolute;
  width: 100%;
  z-index: 3;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.3em;
  padding: 15px 10px;
  text-decoration: none;

}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 560px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 10px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Main Content =========================== */

section {
  /* makes footer at the bottom */
  padding-bottom: 95px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 480px;
  padding-left: 27px;
  padding-right: 27px;
}


  .top-img {
    width: auto;
    margin: 0 -27px;
  }

  .top-img img {
    width: 100%;
    margin: 0;
    max-width: 480px;

  }

.ciao {
  text-align: right;
  padding-right: 50px;
}

#about, .main  {
  line-height: 200%;
}

#astro-map ol li {
  line-height: 200%;
}
@media (min-width: 768px){

  #main-info {
  max-width: 1024px;
  }

  #main-area {
    display: flex;
    clear: both;
  }

  .top-img {
    width: 50%;
    padding: ;
  }

.main {
  text-align: justify;
  width: 50%;
  padding: 200px 20px 0 100px;
}

.maps {
  display: flex;
}

.natal-map{
  padding: 5px;
}

.map {
  width: 98%;
  height: 98%;
  padding: 5px;

}
}

/* Footer =========================== */

footer {
  width: 100%;
  background-color: #333;
  text-align: center;
  /* makes footer at the bottom */
  position: absolute;
  height: 95px;
  bottom: 0;
  left: 0;
  right: 0;
}

footer ul {
text-align: center;
}

footer li {
  display: inline-block;
  padding: 10px 35px 0 0;
}

footer p {
  font-size: 0.8em;
}

/* Pages */

.pages {
  padding-top: 7%;
}

/* Questions page */

.questions {
  display: block;
  line-height: 250%;
  list-style: circle;
  padding-left: 20px;
}

/* Review page */

.feed-item {
  border-top: 1px solid #fff;
}

.feed-img {
  text-align: center;
}

.feed-img img{
  height: 150px;
  width: 150px;
}

.feed-type {
  text-align: center;
}

@media (min-width: 768px){
  #review {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    max-width: 1600px;
  }

  .feed-item {
    padding-bottom: 280px;
    clear: both;
  }

  .feed-img {
    width: 20%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 170px;
  }

  .feed-info  {
    width: 60%;
    float: left;
  }

  .feed-type {
    position: static;
    margin-right: auto;
    margin-left: auto;
  }

}

/* Call page */

#call img {
  margin: 0 10px;
}

#call a {
  color: #fff;
  text-decoration: none;
}

#call ul {
  list-style: none;
  padding: 0;
}

#call li {
  margin: 20px 0;
}

.contacts {
  border: 5px double #fff;
  padding: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
